<div *ngIf="alunoSelecionado">
  <h1>Aluno: {{alunoSelecionado}}</h1>
  <button class="btn btn-default" (click)="voltar()">Voltar</button>
</div>

<div *ngIf="!alunoSelecionado">
  <h1>{{titulo}}</h1>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aluno of alunos" 
      style="cursor:pointer"
      (click)="alunoSelect(aluno)">
        <th scope="row">{{aluno.id}}</th>
        <td>{{aluno.nome}}</td>
        <td>{{aluno.sobrenome}}</td>
        <td>{{aluno.telefone}}</td>
      </tr>
    </tbody>
  </table>
</div>

  