<div *ngIf="professorSelecionado">

  <div class="row">
    <div class="mr-auto">
      <h1>Professor: {{professorSelecionado.id}}</h1>
    </div>
    <div class="mt-1">
      <button class="btn btn-warning" (click)="voltar()">Lista de Professores</button>
    </div>
  </div>

  <form [formGroup]="professorForm" (submit)="professorSubmit()">
    <div class="form-group">
      <label for="formGroupExampleInput">Nome</label>
      <input type="text" formControlName="nome" class="form-control" placeholder="Nome">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Disciplina</label>
      <input type="text" formControlName="disciplina" class="form-control"  placeholder="Disciplina">
    </div>

    <div class="form-group">
      <hr>
      <button class="btn btn-success" [disabled]="!professorForm.valid">Enviar</button>
    </div>
  </form>
</div>

<div *ngIf="!professorSelecionado">
  <h1>{{titulo}}</h1>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Disciplina</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let professor of professores"
      (click)="professorSelect(professor)"
        style="cursor: pointer">
        <th scope="row">{{professor.id}}</th>
        <td>{{professor.nome}}</td>
        <td>{{professor.disciplina}}</td>
      </tr>
    </tbody>
  </table>
</div>


